# Pandas

Pandas was developed by Wes McKinney while working as a researcher at AQR Capital performing quantitative analysis of financial data. Pandas introduced many features of the R programming language into Python.

- Pandas is the most used python package.
- Pandas has a very high and diverse industry adoption.
- **Pandas is huge in the data science and machine learning communities.**

## [Pandas Tutorial](https://pandas.pydata.org/docs/getting_started/index.html#intro-to-pandas)

In [ ]:
import numpy as np
import pandas as pd

## Pandas container for tabular data is called a `DataFrame`

- Pandas' usage model is to analyze/manipulate/plot data as a tablular object.

#### Pandas supports a [huge number of filetypes](https://pandas.pydata.org/docs/user_guide/io.html#io) for reading and writing data

In [ ]:
# Comma separated values (CSV)

height_table = pd.read_csv('./Data/Height_F.csv')

In [ ]:
height_table

In [ ]:
# MS Excel spreadsheet

height_table_xl = pd.read_excel("./Data/Height_F.xlsx", sheet_name="Sheet1", usecols=[1, 2, 3])

In [ ]:
height_table_xl

### Notice that each row has an `index` assigned to it.

In [ ]:
print(height_table)

In [ ]:
height_table.info()

In [ ]:
height_table.describe()

In [ ]:
height_table.min()

##### `.min(), .max(), .mean(), .std()`

### Number of values

* Again, many ways to count

In [ ]:
height_table.count()

In [ ]:
len(height_table)

## Pieces


* `head()`
* `tail()`
* `loc[row, column]`

In [ ]:
height_table.head(2)

In [ ]:
height_table.tail(2)

In [ ]:
height_table.loc[2:3, :]

#### Notice that `pandas` slices are different than `numpy` slices - they include the end point

In [ ]:
height_table.loc[2:3, ['Variation', 'Height_cm']]

## Copy of a DataFrame

In [ ]:
other_table = height_table.copy()

In [ ]:
other_table.head(2)

## Sorting (`.sort_values`)

In [ ]:
other_table.sort_values(['Variation'])

In [ ]:
other_table.sort_values(
    ['Variation'],
    ascending=False
)

#### The original table is unchanged

In [ ]:
other_table

In [ ]:
other_table.sort_values(
    ['Variation'],
    inplace=True
)

#### The original table is changed

In [ ]:
other_table

#### Notice that the row-index has **NOT** been reordered!

In [ ]:
other_table.loc[12:14, :]

## Resetting the index (`.reset_index`)

In [ ]:
other_table.reset_index(drop=True, inplace=True)

In [ ]:
other_table

In [ ]:
other_table.loc[12:14, :]

## Picking out data (`.query`)

In [ ]:
height_table.query("Height_cm > 150")

In [ ]:
height_table.query("Height_cm > 150 and Variation < 0.04")

## Adding a column - `insert`

`.insert(loc, column, value, allow_duplicates = False)`

In [ ]:
age_years = height_table['Age_Months'] / 12

age_years

In [ ]:
# Add column in position 1 (2nd column)

height_table.insert(1, 'Age_Years', age_years, allow_duplicates = False)

In [ ]:
height_table

## Removing a column - `drop`

In [ ]:
height_table.drop(columns='Age_Years', inplace = True)

In [ ]:
height_table

## Adding a column (quick) - always to the end of the table

In [ ]:
height_table['Age_Years'] = age_years

In [ ]:
height_table

## Rearranging columns

In [ ]:
height_table.columns

In [ ]:
my_new_order = ['Age_Months', 'Age_Years', 'Height_cm', 'Variation']

In [ ]:
height_table = height_table[my_new_order]

In [ ]:
height_table

---

# Time

Pandas really excels at handling time series. This is a direct result of pandas' financial-world origins. Although this functionality is partly based on NumPy time series functions, Pandas provides much more flexibility.

In [ ]:
pd.to_datetime("9th of October, 2022")

In [ ]:
dates = pd.to_datetime(['9th of October, 2022', '2022-Oct-9', '10-09-2022', '20221009'])

In [ ]:
dates

#### Pandas makes it easy to add actual dates to `DataFrames`

In [ ]:
born_date = pd.to_datetime("11th of November, 2003")

born_date

In [ ]:
pd.date_range(start=born_date, freq='A', periods=20)

In [ ]:
my_dates = pd.date_range(start=born_date, freq='A', periods=20)

In [ ]:
height_table['Date'] = my_dates

In [ ]:
height_table

#### Time series data is so important to pandas, that it is very common to use the Time column as the index for the `DataFrame`

In [ ]:
height_table.set_index('Date', inplace=True)

In [ ]:
height_table

In [ ]:
height_table.loc['2015']

## Time series functions

Pandas has a huge number of functions for working with time series data. One of the most common is the `rolling` function.

Here is an example of the `rolling` function to calculate the rolling mean.

- `NaN` = Not A Number

<img style="float: right;" src="./images/rolling_mean.jpg" width="400"/>

In [ ]:
height_table['Height_cm'].rolling(3).mean()

# Pandas ↔ QTable

In [ ]:
from astropy.table import QTable
from astropy import units as u
from astropy.units import imperial

In [ ]:
my_qtable_height = QTable.from_pandas(height_table)

In [ ]:
my_qtable_height[0:5]

### You can then add and manipulate units

In [ ]:
my_qtable_height['Age_Months'].unit = ((1/12) * u.yr)
my_qtable_height['Height_cm'].unit = u.cm

my_qtable_height[0:5]

In [ ]:
my_qtable_height['Height_cm'].to(imperial.ft)

In [ ]:
my_qtable_height['Age_Months'].to(u.yr)

### ☹ Converting from QTables to DataFrames loses all unit information ☹

In [ ]:
my_pandas_height = my_qtable_height.to_pandas()

In [ ]:
my_pandas_height.head(5)

---
# Pandas Plotting - `Seaborn`

* `Seaborn` is a library for making statistical graphics in Python
* `Seaborn` is tightly intergrated with the `pandas` library

## [Seaborn Tutorial](https://seaborn.pydata.org/tutorial.html)

In [ ]:
import seaborn as sns

In [ ]:
sns.relplot(x="Date", y="Height_cm",
            data=height_table, 
            kind="line",
            height = 8
)

In [ ]:
sns.relplot(x="Date", y="Height_cm",
            data=height_table, 
            kind="scatter",
            height = 8
)

In [ ]:
sns.relplot(x="Age_Years", y="Height_cm",
            data=height_table, 
            kind="scatter",
            size = "Variation",
            height = 8
)

### `relplot()` =  relationship plot

In [ ]:
grade_table = pd.read_csv('./Data/Grades.csv')

grade_table.head(3)

In [ ]:
sns.relplot(x="Exam1", y="Exam2",
            data = grade_table,
            height = 8);

In [ ]:
sns.relplot(x="Exam1", y="Exam2",
            data = grade_table,
            height = 8,
            hue = "Quarter");

In [ ]:
sns.relplot(x="Exam1", y="Exam2",
            data = grade_table,
            height = 8,
            hue = "Quarter",
            style = "Quarter");

In [ ]:
sns.jointplot(x="Exam1", y="Exam2",
            data = grade_table,
            height = 10,
            hue = "Quarter");

### `catplot()` =  category plot

In [ ]:
sns.catplot(x="Quarter", y="Exam2",
            data=grade_table,
            height = 8,
            kind='swarm');

In [ ]:
sns.catplot(x="Quarter", y="Exam2",
            data=grade_table,
            height = 8,
            kind='box');

In [ ]:
sns.catplot(x="Quarter", y="Exam2",
            data=grade_table,
            height = 8,
            kind='boxen');

In [ ]:
sns.catplot(x="Quarter", y="Exam2",
            data=grade_table,
            height = 8,
            kind='violin');